<%- include ./layout/header.ejs -%>
<main>
    <div class="content">
        <div class="content-section">
            <div class="content content--canvas">
            </div>
           <img class="index-img" src="./../public/images/set1/autor.png" alt="autor"/>
            <div class="content-main">
                <span>#проза</span>
                <span class="5vw">#поэзия</span>
            </div>
            <h2 class="content-text invite">Зайти в гости &#8628;</h2>
        </div>
        <div class="content-section">
            <a class="content-link" href="/novels"><img class="index-img" src="./../public/images/set1/10.png" alt="books"/></a>
            <h2 class="content-text">Романы</h2>
        </div>
        <div class="content-section">
            <a class="content-link" href="/stories"><img class="index-img" src="./../public/images/set1/stories.png" alt="img"/></a>
            <h2 class="content-text">Рассказы</h2>
        </div>
        <div class="content-section">
            <a class="content-link" href="/poems"><img class="index-img" src="./../public/images/set1/sea.png" alt="poems"/></a>
            <h2 class="content-text">Стихи</h2>
        </div>
        <div class="content-section">
            <a class="content-link" href="/song_text"><img class="index-img" src="./../public/images/set1/poem.png" alt="img"/></a>
            <h2 class="content-text">Тексты песен</h2>
        </div>
        <div class="content-section">
            <a class="content-link mb10vh"href="/song_videos"><img class="index-img" src="./../public/images/set1/song.png" alt="img"/></a>
            <h2 class="content-text">Клипы</h2>
        </div>
        <div class="content-section">
            <h2 class="content-text">Contact</h2>
            <div class="contact">
                <a href="#">Instagram</a>
                <a href="https://www.facebook.com/profile.php?id=100030165103606">Facebook</a>
                <a href="https://litnet.com/ru/andrei-vichurin-u569160">hello'at'litnet.com</a>
            </div>
        </div>
    </div>
</main>
<% include ./layout/footer.ejs %>
