<%- include ./layout/header.ejs -%>
<div class="content glitch_main">
    <div class="glitch h-40">
        <div class="glitch__img h-40"></div>
        <div class="glitch__img h-40"></div>
        <div class="glitch__img h-40"></div>
        <div class="glitch__img h-40"></div>
        <div class="glitch__img h-40"></div>
    </div>
    <h2 class="content__title">романы</h2>
    <p class="content__text">в жанре киберфэнтези</p>
</div>
<div id="scroll-wrap" class="container ">
    <div class="main">
        <div id="bookshelf" class="bookshelf">
            <figure>
                <div class="book" data-book="book-1"></div>
                <div class="buttons"><a href="books/lovuska-dlya-tvortsa">Читать &nbsp; &nbsp; |</a><a href="#">О книге</a></div>
                <figcaption><a href="#"><h2>Ловушка для творца<span>Цикл "Шесть байт творения"</span></h2></a></figcaption>
                <div class="details">
                    <ul>
                        <li>Приключения, поиски сокровищ, ММОРПГ с полным погружением, разгадки древних легенд, и ребята, которые не унывают ни при каких обстоятельствах!
                            Киберфэнтези, РеалЛитРПГ и ненаучная фантастика. Любовь и приключения на фоне постапокалипсиса.</li>
                        <li>Самиздат</li>
                        <li>10.02.2018</li>
                        <li>259 страниц</li>
                    </ul>
                </div>
            </figure>
            <figure>
                <div class="book" data-book="book-2"></div>
                <div class="buttons"><a href="books/bluzhdayushie-labirinty-ginnungagapa">Читать &nbsp; &nbsp; |</a><a href="#">О книге</a></div>
                <figcaption><h2>Блуждающие лабиринты Гиннунгагапа<span>Цикл "Шесть байт творения"</span></h2></figcaption>
                <div class="details">
                    <ul>
                        <li>Жизнь главных героев продолжается, принося не только потери и разочарования.
                            Времени для принятия решений у них остается все меньше и меньше. Миры лихорадит, сплетая реальность и виртуальность, в один безумно сложный узел, который, кажется, легче разрубить, чем распутать.</li>
                        <li>Самиздат</li>
                        <li>07.05.2018</li>
                        <li>206 страниц</li>
                    </ul>
                </div>
            </figure>
            <figure>
                <div class="book" data-book="book-3"></div>
                <div class="buttons"><a href="books/zvezda-i-smert-shhlemmh-ainna">Читать &nbsp; &nbsp; |</a><a href="#">О книге</a></div>
                <figcaption><h2>Звезда и смерть Шшлеммх Аинна<span>Цикл "Шесть байт творения"</span></h2></figcaption>
                <div class="details">
                    <ul>
                        <li>Всеслав и Антон по-прежнему пытаются распутать узел реальностей и разобраться с растущим комом проблем, порожденным созидательной деятельностью Всеслава.
                            Какие приключения их ждут?
                            Читайте, и узнаете!</li>
                        <li>Самиздат</li>
                        <li>17.09.2018</li>
                        <li>218 страниц</li>
                    </ul>
                </div>
            </figure>
            <figure>
                <div class="book" data-book="book-4"></div>
                <div class="buttons"><a href="books/proklyatie-pervogo-desmoda">Читать &nbsp; &nbsp; |</a><a href="#">О книге</a></div>
                <figcaption><h2>Проклятие Первого Десмода<span>Цикл "Шесть байт творения"</span></h2></figcaption>
                <div class="details">
                    <ul>
                        <li>Всеслав и Антон, окунулись с головой в захватывающую игру, которую им навязали некие высшие силы. Их цель, по-прежнему остается неизменной:
                            ни много, ни мало, - спасти свой кластер миров от разрушения.</li>
                        <li>Самиздат</li>
                        <li>12.12.2018</li>
                        <li>213 страниц</li>
                    </ul>
                </div>
            </figure>
            <figure>
                <div class="book" data-book="book-5"></div>
                <div class="buttons"><a href="books/vozvrashenie-materi-drakonov">Читать &nbsp; &nbsp; |</a><a href="#">О книге</a></div>
                <figcaption><h2>Возвращение Матери Драконов<span>Цикл "Шесть байт творения"</span></h2></figcaption>
                <div class="details">
                    <ul>
                        <li>Пул артефактов, необходимых для объединения реальных и виртуальных миров, понемногу собирается. Герои отправляются найти, якобы погибшую в битве Доминанты, Мать Драконов.</li>
                        <li>Самиздат</li>
                        <li>14.02.2019</li>
                        <li>397 pages</li>
                    </ul>
                </div>
            </figure>
            <figure>
                <div class="book" data-book="book-6"></div>
                <div class="buttons"><a href="books/padenie-desmod-holla">Читать &nbsp; &nbsp; |</a><a href="#">О книге</a></div>
                <figcaption><h2>Падение Десмод Холла<span>Цикл "Шесть байт творения"</span></h2></figcaption>
                <div class="details">
                    <ul>
                        <li>Противостояние Всеслава и Антона с кланом Де Смодонти подходит к концу. Чем закончится история?</li>
                        <li>Самиздат</li>
                        <li>10.08.2019</li>
                        <li>397 pages</li>
                    </ul>
                </div>
            </figure>
            <figure>
                <div class="book" data-book="book-7"></div>
                <div class="buttons"><a href="books/nik-botanik">Читать &nbsp; &nbsp; |</a><a href="#">О книге</a></div>
                <figcaption><h2>Ник "Бот@ник<span>Роман</span></h2></figcaption>
                <div class="details">
                    <ul>
                        <li>Главному герою пришлось полностью поменять мировоззрение и поменяться самому, чтобы вместе с горсткой таких же как он простых людей, стать на защиту всего, что им дорого.</li>
                        <li>Самиздат</li>
                        <li>12.09.2010</li>
                        <li>397 pages</li>
                    </ul>
                </div>
            </figure>
            <figure style = "display:none;">
                <div class="book" data-book="book-8"></div>
                <div class="buttons"><a href="#">Читать &nbsp; &nbsp; |</a><a href="#">О книге</a></div>
                <figcaption><h2>Lemon Rainbow <span>Christa Hausmann</span></h2></figcaption>
                <div class="details">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</li>
                        <li>Graham Press</li>
                        <li>12.09.2010</li>
                        <li>397 pages</li>
                    </ul>
                </div>
            </figure>
            <figure style = "display:none;">
                <div class="book" data-book="book-9"></div>
                <div class="buttons"><a href="#">Читать &nbsp; &nbsp; |</a><a href="#">О книге</a></div>
                <figcaption><h2>Digital Nomads <span>Kenny Garcia</span></h2></figcaption>
                <div class="details">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</li>
                        <li>Graham Press</li>
                        <li>12.09.2010</li>
                        <li>397 pages</li>
                    </ul>
                </div>
            </figure>
        </div>
        </div>
        </div>
<% include ./layout/footer.ejs %>