<%- include ./layout/header.ejs -%>
<main>
    <header class="header_bottom">
        <h1>Стихотворения<span>о жизни, о фатализме, о мистике...</span></h1>
    </header>
    <div class="grid">
        <a href="poems/about_live"><div class="grid__item">
                <div class="glitch glitch--style-1">
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                </div>
                <h2 class="grid__item-title">Жизнь<span>И любовь</span></h2>
            </div></a>
        <a href="poems/about_fatum"><div class="grid__item">
                <div class="glitch glitch--style-2">
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                </div>
                <h2 class="grid__item-title grid__even">Фатум<span>Судьба?</span></h2>
            </div></a>
        <a href="poems/about_mystic"><div class="grid__item">
                <div class="glitch glitch--vertical glitch--style-3">
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                </div>
                <h2 class="grid__item-title">Мистика<span>За гранью</span></h2>
            </div></a>
        <a href="poems/about_poet"><div class="grid__item">
                <div class="glitch glitch--style-4">
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                </div>
                <h2 class="grid__item-title grid__even">Поэт <span>Я графоман?</span></h2>
            </div></a>
        <a href="poems/about_soul"><div class="grid__item">
                <div class="glitch glitch--style-5">
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                </div>
                <h2 class="grid__item-title">Душа <span>Ты здесь?</span></h2>
            </div></a>
        <a href="poems/about_arrhythmia"><div class="grid__item">
                <div class="glitch glitch--style-6">
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                </div>
                <h2 class="grid__item-title grid__even">Аритмия <span>Где рифма?</span></h2>
            </div></a>
    </div>
</main>
<% include ./layout/footer.ejs %>