<%- include ./layout/header.ejs -%>
<main>
    <header class="header_bottom">
        <h1>Клипы на песни<span>безголосого барда</span></h1>
    </header>
    <div class="grid">
        <div class="grid__item border-video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/S6aS_yBe5r4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="grid__item border-video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/P7RZBApE8q0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="grid__item border-video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zI8d078EEKI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="grid__item border-video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/vm1Vmf0cbbk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</main>
<% include ./layout/footer.ejs %>