<%- include ./layout/header.ejs -%>
<main>
    <header class="header_bottom">
        <h1>Тексты песен<span>безголосого барда</span></h1>
    </header>
    <div class="grid">
        <a href="songs/about_love"><div class="grid__item">
                <div class="glitch glitch--style-7">
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                </div>
                <h2 class="grid__item-title">О любви<span>И жизни</span></h2>
            </div></a>
        <a href="songs/about_live"><div class="grid__item">
                <div class="glitch glitch--style-8">
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                    <div class="glitch__img"></div>
                </div>
                <h2 class="grid__item-title grid__even">О жизни<span>И любви</span></h2>
            </div></a>
    </div>
</main>
<% include ./layout/footer.ejs %>