<%  include ./layout/header.ejs %>
<div class="content glitch_main">
    <div class="glitch h-40">
        <div class="glitch__img h-40"></div>
        <div class="glitch__img h-40"></div>
        <div class="glitch__img h-40"></div>
        <div class="glitch__img h-40"></div>
        <div class="glitch__img h-40"></div>
    </div>
    <h2 class="content__title">рассказы</h2>
    <p class="content__text">фантастика и не только</p>
</div>
<div id="scroll-wrap" class="container ">
    <div class="main">
        <div id="bookshelf" class="bookshelf">
            <figure>
                <div class="book" data-book="book-10"></div>
                <div class="buttons"><a href="./stories/stories">Читать &nbsp; &nbsp; |</a><a href="#">О сборнике</a></div>
                <figcaption><a href="#"><h2>Рассказы и зарисовки<span></span></h2></a></figcaption>
                <div class="details">
                    <ul>
                        <li>Рассказы, эссе, зарисовки</li>
                        <li>Самиздат</li>
                        <li>2010 > </li>
                        <li></li>
                    </ul>
                </div>
            </figure>
        </div>
    </div>
</div>
<% include ./layout/footer.ejs %>