<div class="content_footer">
    <footer>
        <p class="copyright"> Copyright &copy; 2019&nbsp; &nbsp;<span class="blue">Andrew V.Churin ArtStudio &reg;</span>  &nbsp; All rights reserved</p>
    </footer>
</div>
<%-scriptsLink%>
</body>
</html>
